{% extends 'base.html.twig' %}

{% block title %}
  Empresa
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/empresa.css') }}" />
{% endblock %}

{% block body %}
  <section id="section-nombre">
    <div id="nombre-empresa">
      <h1>{{ empresa.name|title }}</h1>
    </div>
    <div id="mision-empresa">
      <h2>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <g>
            <rect fill="none" height="24" width="24" />
          </g>
          <g>
            <g>
              <path d="M9.19,6.35c-2.04,2.29-3.44,5.58-3.57,5.89L2,10.69l4.05-4.05c0.47-0.47,1.15-0.68,1.81-0.55L9.19,6.35L9.19,6.35z M11.17,17c0,0,3.74-1.55,5.89-3.7c5.4-5.4,4.5-9.62,4.21-10.57c-0.95-0.3-5.17-1.19-10.57,4.21C8.55,9.09,7,12.83,7,12.83 L11.17,17z M17.65,14.81c-2.29,2.04-5.58,3.44-5.89,3.57L13.31,22l4.05-4.05c0.47-0.47,0.68-1.15,0.55-1.81L17.65,14.81 L17.65,14.81z M9,18c0,0.83-0.34,1.58-0.88,2.12C6.94,21.3,2,22,2,22s0.7-4.94,1.88-6.12C4.42,15.34,5.17,15,6,15 C7.66,15,9,16.34,9,18z M13,9c0-1.1,0.9-2,2-2s2,0.9,2,2s-0.9,2-2,2S13,10.1,13,9z" />
            </g>
          </g>
        </svg>Misión
      </h2>
      <p>{{ empresa.mision }}</p>
    </div>
  </section>

  <section id="section-card">
    <div id="card-empresa">
      <div class="card">
        <div class="circle" style="opacity: 0;"></div>
        <div class="circle">
          <div>{{ empresa.cantTrabajDirecto }}</div>
        </div>
        <div class="card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#000000">
            <path d="M0 0h24v24H0zm10 5h4v2h-4zm0 0h4v2h-4z" fill="none" />
            <path d="M10 16v-1H3.01L3 19c0 1.11.89 2 2 2h14c1.11 0 2-.89 2-2v-4h-7v1h-4zm10-9h-4.01V5l-2-2h-4l-2 2v2H4c-1.1 0-2 .9-2 2v3c0 1.11.89 2 2 2h6v-2h4v2h6c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm-6 0h-4V5h4v2z" />
          </svg>
          <p>Cantiad de Trabajadores Directos</p>
        </div>
      </div>
      <div class="card">
        <div class="circle" style="opacity: 0;"></div>
        <div class="circle">
          <div>{{ empresa.cantTrabajIndirecto }}</div>
        </div>
        <div class="card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="48px" viewBox="0 0 20 20" width="48px" fill="#000000">
            <g>
              <rect fill="none" height="20" width="20" />
            </g>
            <g>
              <g>
                <path d="M17.5,3h-15C1.67,3,1,3.67,1,4.5V12h1.5V4.5h15V17c0.83,0,1.5-0.67,1.5-1.5v-11C19,3.67,18.33,3,17.5,3z" />
                <circle cx="7" cy="9" r="3" />
                <path d="M12.03,14.37C10.56,13.5,8.84,13,7,13s-3.56,0.5-5.03,1.37C1.36,14.72,1,15.39,1,16.09V18h12v-1.91 C13,15.39,12.64,14.72,12.03,14.37z" />
              </g>
            </g>
          </svg>
          <p>Cantiad de Trabajadores Indirectos</p>
        </div>
      </div>
      <div class="card">
        <div class="circle" style="opacity: 0;"></div>
        <div class="circle">
          <div>{{ (empresa.cantTabajDirecto ?? 0) + (empresa.cantTabajIndirecto ?? 0) }}</div>
        </div>
        <div class="card-inner">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="48px" viewBox="0 0 24 24" width="48px" fill="#000000">
            <rect fill="none" height="24" width="24" />
            <g>
              <path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,18H6l0-1.61c0-1.18,0.68-2.26,1.76-2.73 C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C2,12.1,2.9,13,4,13z M5.13,14.1 C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43V18l4.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85 C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1c0.4,0.68,0.63,1.46,0.63,2.29V18l4.5,0V16.43z M12,6c1.66,0,3,1.34,3,3 c0,1.66-1.34,3-3,3s-3-1.34-3-3C9,7.34,10.34,6,12,6z" />
            </g>
          </svg>
          <p>Total de Trabajadores</p>
        </div>
      </div>
    </div>
  </section>

  <section id="section-enlaces">
    <div id="estructura" class="card-enlaces">
    <div style="display: flex;">
    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M22 11V3h-7v3H9V3H2v8h7V8h2v10h4v3h7v-8h-7v3h-2V8h2v3z"/></svg>
      <h2>Estructura organizacional</h2>
    </div>
        <button type="button">
          <div class="container">
            <span class="hover-me"><a href="#">Estructura Organizativa de la Empresa</a></span>
            <div class="tooltip">
              <p>Descargar Documento</p>
            </div>
          </div>
        </button>
    </div>
    <div id="guia" class="card-enlaces">
    <div style="display: flex;">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="48px" viewBox="0 0 24 24" width="48px" fill="#FFFFFF"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M16.49,3c-2.21,0-4.21,0.9-5.66,2.34l1.06,1.06c1.18-1.18,2.8-1.91,4.59-1.91s3.42,0.73,4.59,1.91l1.06-1.06 C20.7,3.9,18.7,3,16.49,3z"/><path d="M20.03,7.46C19.12,6.56,17.87,6,16.49,6s-2.63,0.56-3.54,1.46l1.06,1.06c0.63-0.63,1.51-1.03,2.47-1.03 s1.84,0.39,2.47,1.03L20.03,7.46z"/><path d="M15.08,9.59L16.49,11l1.41-1.41C17.54,9.22,17.04,9,16.49,9S15.44,9.22,15.08,9.59z"/><path d="M15.63,14.4l-2.52,2.5c-2.5-1.43-4.57-3.5-6-6l2.5-2.52c0.23-0.24,0.33-0.57,0.27-0.9L9.13,3.8C9.04,3.34,8.63,3,8.15,3 L4,3C3.44,3,2.97,3.47,3,4.03C3.17,6.92,4.05,9.63,5.43,12c1.58,2.73,3.85,4.99,6.57,6.57c2.37,1.37,5.08,2.26,7.97,2.43 c0.56,0.03,1.03-0.44,1.03-1l0-4.15c0-0.48-0.34-0.89-0.8-0.98l-3.67-0.73C16.2,14.07,15.86,14.17,15.63,14.4z"/></g></g></svg>
      <h2>Guia de Telefonía</h2>
    </div>
      <div>
        <button type="button">
          <div class="container">
            <span class="hover-me"><a href="#">Guia de Telefonía de la Empresa</a></span>
            <div class="tooltip">
              <p>Descargar Documento</p>
            </div>
          </div>
        </button>
      </div>
    </div>
  </section>

  <section id="" class="section-column table-container">
    <h1 class="table-titulo">Unidades Empresariales de Base(UEB)</h1>
    <div id="cuerpo-tabla-div">
      <table class="tabla">
        <thead>
          <tr>
            <th class="columna-numero">No.</th>
            <th class="columna-nombre">Nombre</th>
          </tr>
        </thead>
        <tbody>
          {% for ueb in uebs %}
            <tr class="fila">
              <td class="celda-numero">{{ loop.index }}</td>
              <td class="celda-nombre">
                <a href="{{ path('app_empresa_show', { id: ueb.id }) }}">{{ ueb.name }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
