{% extends 'base.html.twig' %}

{% block title %}Especialidad{% endblock %}

{% block body %}
    <h1>Especialidad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ especialidad.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ especialidad.name }}</td>
            </tr>
            <tr>
                <th>Jefe</th>
                <td>{{ especialidad.jefe }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ especialidad.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_especialidad_index') }}">back to list</a>

    <a href="{{ path('app_especialidad_edit', {'id': especialidad.id}) }}">edit</a>

    {{ include('especialidad/_delete_form.html.twig') }}
{% endblock %}
